/*Police et fond size page */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
/*Mise en place bordure */
body{
  border: 10px solid rgba(129, 3, 3, 0.616);
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0;
  position: fixed;
  background-color: #fffbfb;
}
/*Carré rouge Current score */
.current{
  width: 250px;
  height: 120px;
  background-color: #ff4141;
  font-size: 40px;
}
/*Taille police Score */
.score{
  font-size: 40px;
}
/*Taille dé*/
.dice{
  max-width: 100px;
  max-height: 100px;
}
/*Taille de mes bouton*/
.myButton{
  width: 130px;
  height: 50px;
}
/*Taille icone de mes bouton*/
.icone{
  width: 24px;
  height: 24px;
}
/*Couleur des joueurs actif*/
.active{
  background-color: #dde0d6;
}
/*Espace pour taille Pc et +*/
.espace1{
  height: 100px;
}
.espace2{
  height: 300px;
}
.espace3{
  height: 230px;
}
@media (max-width: 960px) { 
  .espace1,.espace2,.espace3{
    height: 0;
  }
}
/*Media query pour taille XS*/
@media (max-height: 855px) { 
    *{
      font-size: 16px;
    }
    .current{
      width: 150px;
      height: 90px;
      font-size: 20px;
    }
    .score{
      font-size: 24px;
    }
  }
  @media (max-height: 760px) { 
    *{
      font-size: 14px;
    }
    .current{
      width: 150px;
      height: 90px;
      font-size: 20px;
    }
    .score{
      font-size: 24px;
    }
  }

